.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 270px;

  margin: 0;
  padding: 0;

  list-style: none;
}
