.user {
  margin-bottom: 30px;
  padding: 20px;

  color: black;

  background-color: #ffffff;
  border-radius: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  .user__tags {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    padding-left: 0;
  }
}

.user__avatar {
  $box-size: 70px;

  display: block;
  width: $box-size;
  height: $box-size;

  border-radius: 50%;
}

.user__header {
  position: relative;

  flex-grow: 1;
  width: auto;
  margin-left: 16px;
}

.user__name {
  //position: relative;

  width: 90%;
  margin: 0;

  font-size: 20px;
  line-height: 20px;
  color: #1d2e5b;

  &::after {
    content: "";

    position: absolute;
    right: 0;
    top: 5px;

    width: 6px;
    height: 6px;

    border-radius: 50%;
    background-color: #f97676;
  }

  &--online {
    &::after {
      background-color: #81e31e;
    }
  }
}


.user__followers {
  margin: 0;
  margin-top: 10px;

  font-size: 14px;
  line-height: 14px;
  color: #161c35;
}

.user__invite {
  $btn-height: 40px;
  $line-height: 18px;

  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  min-height: $btn-height;
  margin: auto;
  padding: 24px;
  padding-top: ($btn-height - $line-height) / 2;
  padding-bottom: ($btn-height - $line-height) / 2 - 5px;

  line-height: $line-height;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
  color: #161c35;

  background-color: #ffd74b;
  border-radius: 20px;
}
